<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員系統</title>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark" ;>
        <div class="container-fluid">
            <a class="navbar-brand" href="/test" style="color:  white;">登入 / 註冊</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="container-fluid"
        style="background-image: url('123.jpg');background-size: cover;background-repeat:no-repeat;height: 100vh;">
    </div>

</body>

</html>